<form method="get" class="form-inline">
  <div class="input-group">
     <input type="text" class="form-control" name="search">
     <span class="input-group-btn">
        <button class="btn btn-recipe-search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
     </span>
  </div>
</form>