#main {
  padding-top: 80px;
}

.navbar-brand {
  h1 {
    font-size: inherit;
    margin: 0;
  }
}

.recipe-section-title {
  margin-bottom: 50px;
}

.btn-recipe-search {
  background-color: rgba(184, 0, 0, 0.5);
  color: #ffffff;
}

.glyphicon-search {
  color: #ffffff;
}

.list-recipes {
  li {
    margin-bottom: 20px;
  }
}

.recipe-item {
  position: relative;
  a {
    .recipe-title-block {
      position: absolute;
      bottom: 0;
      width: 300px;
      height: 50px;
      display: block;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      font-size: 1.4em;
      transition: height 0.7s;
      -moz-transition: height 0.7s;
      -webkit-transition: height 0.7s;
      -o-transition: height 0.7s;
      -ms-transition: height 0.7s;
    }
    &:hover {
      .recipe-title-block {
        height: 300px;
        transition: height 0.7s;
        -moz-transition: height 0.7s;
        -webkit-transition: height 0.7s;
        -o-transition: height 0.7s;
        -ms-transition: height 0.7s;
        .ranking {
          display: inline-block;
        }
      }
    }
  }
}

.recipe-title {
  display: block;
  color: #B80000;
}

.ranking {
  text-align: center;
  padding: 13px;
  border: 3px solid #B80000;
  border-radius: 15px;
  color: #B80000;
  margin-top: 60px;
  display: none;
}

.int-search {
  max-width: 200px;
  margin: 30px auto;
}

#sorting-buttons {
  margin-bottom: 20px;
}

.form-pagination {
  margin-bottom: 30px;
}

footer {
  margin-bottom: 0 !important;
  padding: 15px;
}